acvl-utils==0.2
alabaster
anaconda-client==1.11.0
anaconda-navigator==2.3.1
anaconda-project
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports
backports
backports
batchgenerators==0.25
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts==0.2
black
bleach
bokeh
boto3
botocore
Bottleneck
brotlipy==0.7.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
conda==22.9.0
conda-build==3.22.0
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli==1.0.20
conda-token
conda-verify==3.4.2
connected-components-3d==3.10.5
constantly==15.1.0
cookiecutter
cryptography
cssselect==1.1.0
cycler
Cython
cytoolz==0.11.0
daal4py==2021.6.0
dask
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
Deprecated==1.2.14
dicom2nifti==2.4.8
diff-match-patch
dill
distributed
docutils
dynamic-network-architectures==0.2
einops==0.6.1
entrypoints
et-xmlfile==1.1.0
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
fsspec
future
gensim
glob2
gmpy2
graphviz==0.20.1
greenlet
h5py
HeapDict
holoviews
humanize==4.8.0
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jdcal
jedi
jeepney
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
linecache2==1.0.0
llvmlite==0.38.0
locket
lxml
lz4
Markdown
markdown-it-py==3.0.0
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl==0.1.2
MedPy==0.4.0
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mock
monai==1.2.0
mpmath==1.2.1
msgpack
multipledispatch
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel==5.1.0
nltk
-e
-e
nose
notebook
numba
numexpr
numpy==1.24.4
numpydoc
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu12==12.1.105
olefile
opencv-python==4.8.1.78
openpyxl==3.0.10
packaging
pandas==1.4.4
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.2
pep8==1.7.1
pexpect
pickleshare
Pillow==9.2.0
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
prefetch-generator==1.0.3
prometheus-client
prompt-toolkit
Protego
psutil
ptyprocess
py
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat==0.6.3
pycparser
pyct
pycurl==7.45.1
pydicom==2.3.1
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments==2.16.1
PyHamcrest
PyJWT
pylint
pyls-spyder==0.4.0
pyodbc
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest==7.1.2
python-dateutil
python-gdcm==3.0.22
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytz
pyviz-comms
PyWavelets
pyxdg
PyYAML==6.0
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
rich==13.6.0
rope
Rtree
ruamel-yaml-conda
s3transfer
scikit-image
scikit-learn
scikit-learn-intelex==2021.20221004.171807
scipy==1.9.1
Scrapy
seaborn
SecretStorage
Send2Trash
service-identity
shellingham==1.5.3
SimpleITK==2.2.1
sip
six
smart-open
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
statsmodels
sympy
tables
tabulate
TBB==0.2
tblib
tenacity
terminado
testpath
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss
tldextract
toml
tomli
tomlkit
toolz
torch==2.1.0
torchaudio==2.0.2
torchinfo==1.8.0
torchio==0.19.1
torchvision==0.16.0
tornado
tqdm
traceback2==1.4.0
traitlets
triton==2.1.0
Twisted
typer==0.9.0
typing_extensions
ujson
Unidecode
unittest2==1.1.0
urllib3
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlrd
XlsxWriter
yacs==0.1.8
yapf
zict==2.1.0
zipp
zope